@font-face {
    font-family: FreightSansProBook;
    src: url(FreigSanProBook.otf);
}

@font-face {
    font-family: FreightSansProMedium;
    src: url(FreigSanProMed.otf);
}

/*@font-face {
    font-family: Wisdom-Script;
    src: url(????.otf);
}*/

body {
  font-family: FreightSansProBook;
  font-size: 18px;
  color: #525252;
}

.icon-los-angeles-sm {
  vertical-align: middle;
  padding-left: 40px
}

.logo {
  font-family: Wisdom-Script;
  font-size: 28px;
  display: inline;
  padding-left: 24px;
}

.navagation {
  display: inline;
  float: right;
}

.navagation a {
  color: #314b56;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 40px;
}

.navagation a:hover {
  cursor: pointer;
  border-bottom: 4px solid #f7e398
}

.pivotal-logo {
  width: 138px;
}

.icon-los-angeles-lg {
  width: 120px;
  height: 151px;
  object-fit: contain;
}

h1 {
  margin: 0;
  font-family: FreightSansProMedium;
  font-size: 64px;
}

.head-count {
  font-family: FjallaOne;
  font-size: 64px;
}

.percents {
  font-family: FjallaOne;
  font-size: 24px;
  display: inline;
}

h2 {
  font-family: FreightSansProMedium;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-family: FreightSansProMedium;
  font-size: 20px;
  text-transform: uppercase;
}

.rectangle-tan {
  width: 215px;
  height: 215px;
  border: solid 5px #fbcbb3;
}

.rectangle-blue {
  width: 215px;
  height: 215px;
  border: solid 5px #cbeef0;
}

.rectangle-grey {
  width: 215px;
  height: 215px;
  border: solid 5px #ebe0dc;
}
