@font-face {
    font-family: FreightSansProBook;
    src: url(FreigSanProBook.otf);
}

@font-face {
    font-family: FreightSansProMedium;
    src: url(FreigSanProMed.otf);
}

/*@font-face {
    font-family: Wisdom-Script;
    src: url(????.otf);
}*/

body {
  font-family: FreightSansProBook;
  font-size: 18px;
  color: #525252;
}

.row {
  padding-top: 12px;
  padding-bottom: 12px;
}

.grey-background {
  background-color: #fbfbfb;
}

.logo {
  font-family: Wisdom-Script;
  font-size: 28px;
  display: inline;
  padding-left: 24px;
}

.column a {
  color: #314b56;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

.column a:hover {
  cursor: pointer;
  border-bottom: 4px solid #f7e398
}

.pivotal-logo {
  width: 138px;
}

.icon-los-angeles-lg {
  width: 120px;
  height: 151px;
  position: relative;
  bottom: 48px;
}

h1 {
  font-family: FreightSansProMedium;
  font-size: 64px;
  text-align: center;
  margin: 0;
  position: relative;
  z-index: 1;
}

.head-count {
  font-family: FjallaOne;
  font-size: 64px;
}

.percent-block-labs {
  height: 55px;
  background-color: #fbcbb3;
  border-left: solid 34px #fbfbfb;
  border-right: solid 34px #fbfbfb;
}

.percent-block-cf {
  height: 19px;
  background-color: #b8eaed;
  border-left: solid 34px #fbfbfb;
  border-right: solid 34px #fbfbfb;
}

.percent-block-data {
  height: 10px;
  background-color: #ebe0dc;
  border-left: solid 34px #fbfbfb;
  border-right: solid 34px #fbfbfb;
}

.percents {
  font-family: FjallaOne;
  font-size: 24px;
  position: relative;
  bottom: 12px;
}

h2 {
  font-family: FreightSansProMedium;
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
}

.recurring-title {
  display: inline;
  position: relative;
  right: 2rem;
  bottom: 0.5rem;
}

h3 {
  font-family: FreightSansProMedium;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rectangle-tan {
  width: 21.5rem;
  height: 21.5rem;
  border: solid 5px #fbcbb3;
}

.rectangle-blue {
  width: 21.5rem;
  height: 21.5rem;
  border: solid 5px #cbeef0;
}

.rectangle-grey {
  width: 21.5rem;
  height: 21.5rem;
  border: solid 5px #ebe0dc;
}

.rectangle-yellow {
  width: 21.5rem;
  height: 21.5rem;
  border: solid 5px #f7e398;
}

.profile-picture {
  width: 21.5rem;
  height: 21.5rem;
  position: relative;
  top: 1rem;
  left: 1rem;
}

.github {
  font-size: 1rem;
}
